* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: #ccc;
  font-family: Arial, sans-serif;
}

.box {
  width: 95%;
  max-width: 500px;
  border-radius: 5px;
  padding: 30px;
  background-color: white;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

code {
  display: block;
  font-family: monospace;
  background-color:#eee;
  padding: 0.8rem;
  margin: 1rem 0;
  border-radius: 5px;
}

.btn {
  margin: 5px;
  width: calc(50% - 10px);
  height: 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}

.btn-info {
  background-color: blue;
}

.btn-danger {
  background-color: red;
}